<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing RahulShetty">
    <test thread-count="5" name="Regression">
         <classes>
             <class name="SeleniumLearning.BaseClass"/>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->
